.myfooter{
  row-gap: 0px !important;  
   
   width: 100%;
   
  padding: 30px;
   text-align: center;
   color: #f5f5f5;
   background-color:	#01ccb7 !important;
   
   
 }
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.menu,
.acquirenti,
.contact,
.merce,
.ordine,
.categoria {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./components/assets/dune.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.menu {
  background-image: url('./components/assets/bateau.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.acquirenti {
  background-image: url('./components/assets/auto.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact {
  background-image: url('./components/assets/campo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.merce {
  background-image: url('./components/assets/panier2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.ordine {
  background-image: url('./components/assets/skie.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.categoria {
  background-image: url('./components/assets/road.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .select:hover {
 
  color:lightgrey;
  transition: 0.5s;
  transform:  scale(1.1);
} */

.benvenuto{
  color: yellow;
  
}
.updprod{
  color:blue
}
.dltprod{
  color:red
}
.updmerce{
  color:blue
}
.dltmerce{
  color:red
}
.addmerce{
  color:green
}


/* .loginBackground{
  background-image: url("https://img.freepik.com/free-vector/cyber-lock-security-padlock-abstract-wire-low-poly-polygonal-wire-frame-mesh-looks-like-constellation-dark-blue-night-sky-with-dots-stars-illustration-background_587448-642.jpg?w=1800&t=st=1691404637~exp=1691405237~hmac=aeafc9e70a4f20497f1266554daed520c79787f16cbf1c511d2c370c67b541bd");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position:fixed;
  
 
  z-index: -1;
} */


 

